@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap');

*{
    font-family: 'Jura', sans-serif;
    box-sizing: border-box;
    
}

body{
    padding: 0;
    margin: 0;
    border: 0;
    left: 0;
    top: 0;
    /* background: url(Assests/sky.jpg) no-repeat fixed; */
    background: linear-gradient(170deg,#457B9D,#F1FAEE);
    background-size: 100% 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

body::-webkit-scrollbar{
    display: none;
}

/* ------------------------------------Search Area------------------------------------ */
.fa-sharp{
    font-size: 3vw;
}

.searcharea{
    z-index: 9;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 115px;
    background: linear-gradient(270deg,#1D3557,#CAF0F8);
    border-radius: 10px;
    
}


.searcharea input{
        position: absolute;
        border: 0;
        outline: 0;
        background: linear-gradient(90deg,#0077B6,#00B4D8);
        height: 65%;
        width: 62%;
        border-radius: 15px;
        margin-top: 0;
        font-size: 25px;
        font-weight: 600;
        left: 17vw;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
}

#sebtn{
    position: absolute;
    left: 80%;
    border-radius: 100px;
    color: black;
    height: 60%;
    width: 6%;
    font-weight: 600;
    font-size: 21px;
    top: 50%;
    transform: translateY(-50%);
    align-items: center;
    padding: 0;
    margin: 0;
    
    
}
#geobtn{
    position: absolute;
    left: 87%;
    border-radius: 10%;
    height: 60%;
    width: 4%;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    
}


#btnimg{
    border: 0;
    padding: 0;
    position: relative;
    height: 120%;
    width: 160%;
    bottom: 5px;
    right: 14px;
}



/* ------------------------------------Navigation Bar------------------------------------ */
.navigationbar{
    z-index: 10;
    position: sticky;
    top: 115px;
    left: 5%;
    background: linear-gradient(90deg,#A8DADC,#1D3557);
    border-radius: 15px;
    padding: 10px 10px;
    width: 90%;
    font-size: 20px;
    padding-top: 15px;
    
}
.navpane{
    font-size: 25px;
    font-weight: 500;
}

.container .nav-link{
    color:white !important;
}

.container .active{
    background-color: black !important;
}

/*---------------------------------Weather detials---------------------------------*/
#weathericon{
    height: 230px;
    width: 230px;
}

.weather{
    line-height: 1;
    top: 0;
    position: relative;
    justify-content: center;
    padding-top: 0px;
    margin: 0;
    /* height: 100vh; */
    width: 100vw;
   
    text-align: center;
    /* background: linear-gradient(90deg,#81b29a,#3d405b); */
}

.weather div .condition{
    font-size: 2vw !important;
    font-weight: 400;
}
.weather div .temp{
    font-size: 6vw !important;
    font-weight: 1000;
}
.weather div .feelstext, .feels{
    font-size: 2.2vw !important;
    font-weight: 500;
}
.weather div .city{
    font-size: 4vw !important;
    font-weight: 900;
}
.feelstext .feelstext{
    text-align: right;
    margin: 0;
    padding: 0;
}

.feelstext .feels{
    text-align: left;
    margin-left: 40px;
    padding: 0;
}

.winddetails{
    font-size: 2vw !important;
    font-weight: 1000;
}

/*---------------------------------Forecast Weather details---------------------------------*/

.forecastweather{
    position: relative;
    height: 80vh;
    width: 100vw;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0; 
    border: 0;
    margin: 0;
    height: 800px;
    width: 100vw;
    /* background: linear-gradient(180deg,#F1FAEE,#457B9D); */
}
#titlef{
    position: absolute;
    align-items: center;
    text-align: center;
    justify-content: center;
    left: 38vw;
    font-size: 60px;
    font-weight: 800;
}
#forecastbox{
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
}


#daysrow {
    font-size: 40px;
    font-weight: 600;
}
#temprow{
    font-size: 45px;
    font-weight: 900;
}
#humidityrow, #windrow, #condrow{
    font-size: 40px;
    font-weight: 500;
}

#day1icon, #day2icon, #day3icon,#day4icon{
    max-height: 70px;
    max-width: 70px;
}

/*---------------------------------Forecast history details---------------------------------*/
#hday1icon, #hday2icon, #hday3icon,#hday4icon,#hday5icon,#hday6icon,#hday7icon{
    max-height: 70px;
    max-width: 70px;
}

#titleh{
    position: absolute;
    align-items: center;
    text-align: center;
    justify-content: center;
    left: 31vw;
    font-size: 60px;
    font-weight: 800;
}

#hdaysrow {
    font-size: 28px;
    font-weight: 600;
}

#hcondrow{
    font-size: 28px;
    font-weight: 600;
}


/* media-queries 580 pixels*/

@media screen and (max-width: 580px) {

    /* ------------------------Search area------------------------ */
    
    .searcharea {
      justify-content: center;
      align-items: center;
      
      
    }

    input {
        max-width: 250px;
        height: 65px;
        margin: 0;
    }
    #searchtext{
        font-size: 14px;
    }
    

    #sebtn {
        height: 30%;
        width: 19%;
        font-size: 13px;
        top: 34%;
        align-items: center;
        justify-content: center;
        
    }
    #geobtn {
        height: 28%;
        width: 10%;
        font-size: 10px;
        top: 65%;
        left: 84%;
    }
    #btnimg{
        min-height: 190%;
        min-width: 650%;
        
    }

    /* ------------------------Navigation Bar------------------------ */
    .navigationbar{
        z-index: 10;
        position: sticky;
        top: 115px;
        left: 5%;
        background: linear-gradient(90deg,#A8DADC,#1D3557);
        border-radius: 15px;
        padding: 5px 5px;
        width: 90%;
        height:110px;
        font-size: 20px;
        padding-top: 15px;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        
    }

    .navpane{
        font-size: 20px;
        font-weight: 500;
    }


   
  }